.TituloPrincipal{
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    font-weight: 800;
    cursor: pointer;
  }
  
  .Descripcion{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 15px;
  }